html,
body {
    background-color: #586CF5;
    color: white;
    height: 100%;
    margin: 0;
}

#mainblock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100px;
}

#cuckoo {
    margin-bottom: 70px;
    display: block;
}

#icon-list {
    list-style-type: none;
}

.icon-item {
    margin-top: 13px;
    margin-left: auto;
    margin-right: auto;
}